extends layout

block content
	//- Header
	tr
		td
			img#success(src="/images/top-banner.jpg" border="0" alt="Hunt Brothers Booth Banner")

	//- Lead text
	tr
		table.content-table
			tr
				td(style="padding-top:20px")
					font.extra-large With [INSERT NUMBER] pizzas served, it was an exciting few days sharing our latest news, serving up business insights and having fun with 2014 Sprint Cup Champion Kevin Harvick!

			tr
				td(height="46px")
					font.large All from Hunt Brothers<sup style="font-size:9px">&reg;</sup> Pizza: America's #1 c-store pizza brand.

			tr
				td(style="padding-top:18px" valign="bottom")
					font.callout
							| Missed Hunt Brothers<sup style="font-size:9px">&reg;</sup> Pizza at NACS?<br />
							| Learn more about 2015 Hunt Brothers Pizza news:

			tr
				td
					ul.pew-pew
						li International expansion with 5 AAFES locations in Germany
						li 4th Annual Hunt To Win is back with Easton Corbin
						li Success of Cheesebread in inaugural Cheesebread Challenge<br />and named Retailer Choice Best New Product
						li Introduction of Chicken Bacon Ranch LTO
						li Learn why c-stores turn to pizza for success with our NEW case studies

			tr
				td(height="36")
