doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	title !{title}
	link(rel='stylesheet' href='style.css')

body(leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" border="0")
	table.body-wrap(border="0" cellpadding="0" cellspacing="0")
		tr
			td.container(style="max-width: #{contentWidth}px;")
				table.content(border="0" cellpadding="0" cellspacing="0" style="max-width: #{contentWidth}px;")
					tr
						td
							table(width="100%" border="0" cellpadding="0" cellspacing="0")
								block content

								//- Footer
								tr
									td(align="center")
										a(href="http://www.huntbrotherspizza.com/mediakit")
											img(src="/images/bottom-banner.jpg" alt="Visit the NACS online media romm at huntbrotherspizza.com/mediakit with the password NACS2015")

								tr(bgcolor="#272727")
									td(height="30" align="center")
										font(color="#ffffff" size="2")
											| Is this email not displaying correctly? Try the <webversion><font color="#ffffff"><u>web version</u></font></webversion>. Not interested anymore? <unsubscribe><font color="#ffffff"><u>Unsubscribe instantly</u></font></unsubscribe>.</font></td>
