<tr>
  <td valign="middle" align="center"><img class="fluid" src="http://placehold.it/{{ emailWidth }}x300" alt="alt text" width="{{ emailWidth }}" height="300" align="center" border="0" style="margin: auto" /></td>
</tr>
