{{#if image}}
<tr>
  <td valign="middle" align="center"><img class="fluid" src="{{image.src}}" alt="{{image.alt_text}}" width="{{ emailWidth }}" height="300" align="center" border="0" style="margin: auto" /></td>
</tr>
{{/if}}
